*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1c181f;
    flex-direction:column;
}
h2{
    color: #999ba2;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
form{
    position: relative;
    background:linear-gradient(#1e2024,#18181c) ;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid #000;
    
}  
input{
    position: relative;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;

}
::placeholder{
    color: #565458;
    text-transform: capitalize;
}
.indication{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 50%;
    right: 10px;
    background-color: #565458;
    transform: translateY(-50%);
}

#form.valid .indication{
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0;
}
#form.invalid .indication{
    background-color: #f00;
    box-shadow: 0 0 5px #f00;
}